$font-stack: "Nunito Sans", Helvetica, Arial, sans-serif;
$brown: #352918;
$lightBrown: rgba(135,104,60,0.4511545293072824);
$darkBrown: rgba(53,41,24,1);
$orange: #cc5803;
$lightOrange: #f7934c;
$darkYellow: #f7b05b;
$yellow: #ffc15e;
