@media (max-width: 650px) {
  nav {
    .hamburger {
      display: block;
    }
    ul {
      top: 160px;
      right: 20px;
      flex-direction: column;
      width: 250px;
      li {
        width: 100%;
        background-color: $orange;
        padding: 10px;
        text-align: center;
        &:first-child{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        &:last-child{
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
  header {
    flex-direction: column;
    .header__image {
      width: 90vw;
    }
  }
}

@media (max-width: 950px) {
  header {
    .header__description {
      h1 {
        font-size: 30px;
      }
      h2,
      button {
        font-size: 16px;
      }
    }
  }
}
