
@media (max-width: 950px) {
  header {
    .header__description {
      max-width: 90vw;
      padding: 20px;
      h1 {
        font-size: 30px;
      }
      h2,
      button {
        font-size: 16px;
      }
    }
  }
  .about {
    p{
      padding: 5px 20px;
    }
    .about--gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .couch, .price, .contact {
    grid-template-columns: 1fr;
  }
  .contact{
    .content, form{
      width: 90%;
    }
  }
}


@media (max-width: 650px) {
  nav {
    .hamburger {
      display: block;
    }
    ul {
      top: 160px;
      right: 20px;
      flex-direction: column;
      width: 250px;
      li {
        width: 100%;
        background-color: $orange;
        padding: 10px;
        text-align: center;
        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
  header {
    flex-direction: column;
    .header__image {
      width: 90vw;
    }
  }
  .about {
    .about--gallery {
      grid-template-columns: 1fr;
    }
  }
  .socialMedia{
    ul{
      flex-direction: column;
      align-items: center;
      li{
        margin: 25px;
      }
    }
  }
}
