@import 'config';

:root {
    box-sizing: border-box;
    font-size: 10px;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


@import 'header';
@import 'navigator';
@import 'about';
@import 'couch';
@import 'socialMedia';
@import 'price';
@import 'contact';
@import 'footer';
@import 'mobile';

