:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 55vh;
  background-color: #352918;
  background: linear-gradient(350deg, rgba(135, 104, 60, 0.451155) 0%, #352918 60%);
  position: relative;
}

header .header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  padding: 0px 30px;
  max-width: 50vw;
}

header .header__description h1 {
  font-size: 60px;
  font-weight: 600;
  color: #cc5803;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

header .header__description h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 1.6;
  letter-spacing: 1.4px;
  text-align: center;
  margin: 10px 0 20px;
}

header .header__description button {
  max-width: 400px;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #cc5803;
  color: white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

header .header__description button:hover {
  background-color: white;
  color: #cc5803;
}

header .header__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -webkit-box-shadow: 2px 5px 30px 0px rgba(50, 50, 50, 0.87);
          box-shadow: 2px 5px 30px 0px rgba(50, 50, 50, 0.87);
  border: 2px solid #cc5803;
  border-radius: 20px;
  overflow: hidden;
  max-width: 500px;
}

header .header__image .content {
  width: 100%;
  height: 40vh;
  background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  -webkit-animation: header 20s step-end infinite;
          animation: header 20s step-end infinite;
}

@-webkit-keyframes header {
  0% {
    background-image: url("https://images.unsplash.com/photo-1550259979-ed79b48d2a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=704&q=80");
  }
  25% {
    background-image: url("https://images.unsplash.com/photo-1576511420003-e33641629f94?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }
}

@keyframes header {
  0% {
    background-image: url("https://images.unsplash.com/photo-1550259979-ed79b48d2a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=704&q=80");
  }
  25% {
    background-image: url("https://images.unsplash.com/photo-1576511420003-e33641629f94?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }
}

nav {
  background-color: #352918;
  height: 80px;
  position: relative;
}

nav .hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #cc5803;
  background-image: url("../images/hamburgerClosed.svg");
  cursor: pointer;
}

nav ul {
  position: absolute;
  top: 20px;
  right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100vw - 60px);
  height: 40px;
  max-width: 500px;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  background-color: #cc5803;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 10;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #352918;
}

.about {
  text-align: center;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 50px auto;
}

.about p {
  margin: 10px auto 60px;
  max-width: 1400px;
  line-height: 1.6;
}

.about .about--gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  grid-auto-rows: 300px;
  grid-gap: 5px;
  grid-auto-flow: dense;
  margin: 20px 50px;
}

.about .about--gallery div {
  position: relative;
  overflow: hidden;
}

.about .about--gallery .vertical {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.couch {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px 0px;
  background: linear-gradient(10deg, rgba(135, 104, 60, 0.451155) 0%, #352918 45%, #352918 55%, rgba(135, 104, 60, 0.451155) 80%);
}

.couch .card {
  margin: 10px auto;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(345deg, #f7b05b 0%, #cc5803 50%);
}

.couch .card img {
  width: 300px;
}

.couch .card .card--content {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  margin: 10px;
  text-align: center;
}

.couch .card .card--content h1 {
  font-size: 24px;
}

.couch .card .card--content p {
  padding: 10px;
  line-height: 1.4;
  font-size: 14px;
}

.socialMedia h1 {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  padding: 20px;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
  list-style: none;
  padding: 40px 10px 50px;
}

.socialMedia ul li {
  position: relative;
  -webkit-transform: rotate(-10deg) skew(20deg);
          transform: rotate(-10deg) skew(20deg);
  width: 100px;
  height: 100px;
}

.socialMedia ul li:hover span:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0.25;
}

.socialMedia ul li:hover span:nth-child(2) {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  opacity: 0.5;
}

.socialMedia ul li:hover span:nth-child(3) {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  opacity: 0.75;
}

.socialMedia ul li:hover span:nth-child(4) {
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
  opacity: 1;
}

.socialMedia ul li a {
  color: white;
  text-decoration: none;
  font-size: 48px;
}

.socialMedia ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(35deg, #f7b05b 0%, #cc5803 50%);
}

.price {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px 0px;
  background: rgba(135, 104, 60, 0.451155);
}

.price .card {
  margin: 10px auto;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 30px 0px rgba(50, 50, 50, 0.87);
          box-shadow: 2px 5px 30px 0px rgba(50, 50, 50, 0.87);
  text-align: center;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.price .card .content {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 20px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.price .card .content h1 {
  font-weight: 600;
  font-size: 36px;
}

.price .card .content p {
  padding: 20px;
  font-size: 24px;
}

.price .card .content p span {
  font-size: 30px;
  font-weight: bold;
}

.price .card .content ul {
  list-style: none;
}

.price .card .content ul li {
  font-size: 16px;
}

.price .card .content:hover {
  background-color: #f7b05b;
  color: white;
}

.price .card button {
  max-width: 400px;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #cc5803;
  color: white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  margin: 10px 20px 20px;
}

.price .card button:hover {
  background-color: white;
  color: #cc5803;
}

.contact {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 40px 0px;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

.contact .content {
  width: 45vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: linear-gradient(35deg, #cc5803 0%, #f7b05b 33%, #f7b05b 80%, #cc5803 100%);
}

.contact .content p {
  font-weight: 600;
  font-size: 32px;
  padding: 20px 40px;
  color: #352918;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vw;
  padding: 20px;
  border: 2px solid #f7b05b;
  border-radius: 20px;
}

.contact form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact form div label {
  font-weight: 600;
}

.contact form div input {
  outline: none;
  border: 1px solid #f7b05b;
  border-radius: 3px;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  padding: 3px;
}

.contact form div input:focus {
  border: 1px solid #cc5803;
}

.contact form div input[type="submit"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 400px;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #cc5803;
  color: white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.contact form div input[type="submit"]:hover {
  background-color: white;
  color: #cc5803;
}

.contact form div textarea {
  outline: none;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  padding: 3px;
  border: 1px solid #f7b05b;
  border-radius: 3px;
}

.contact form div textarea:focus {
  border: 1px solid #cc5803;
}

@media (max-width: 950px) {
  header .header__description {
    max-width: 90vw;
    padding: 20px;
  }
  header .header__description h1 {
    font-size: 30px;
  }
  header .header__description h2,
  header .header__description button {
    font-size: 16px;
  }
  .about .about--gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .couch, .price, .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .content, .contact form {
    width: 90%;
  }
}

@media (max-width: 650px) {
  nav .hamburger {
    display: block;
  }
  nav ul {
    top: 160px;
    right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
  }
  nav ul li {
    width: 100%;
    background-color: #cc5803;
    padding: 10px;
    text-align: center;
  }
  nav ul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  nav ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header__image {
    width: 90vw;
  }
  .about .about--gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .socialMedia ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socialMedia ul li {
    margin: 25px;
  }
}
/*# sourceMappingURL=style.css.map */